@charset "UTF-8";

@media screen and (max-width: 768px) {	
body{
	font-size: 1.0em;
	line-height: 1.5;
	color: #000000;
	font-family: 'Noto Sans Japanese', sans-serif, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	min-width:100%;
	padding: 50px 0 0 0;
}

body#mission{
	background: none;
	background-attachment: inherit;
	background-size: auto;
}
/*body#mission::before{
    background: rgba(0, 0, 0, 0) url("../img/bg_mission_sp.png") no-repeat scroll center bottom / 100% 100%;
    content: "";
    display: block;
    height: 110%;
    left: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}  
*/
.background-hack {
    z-index                 : -1;
    background-color        : #FFF;
    background-image        : url("../img/bg_mission_sp.png");
    background-repeat       : no-repeat;
    background-size         : 100% auto;
    position                : fixed;
    top                     : 0;
    left                    : 0;
    right                   : 0;
    bottom                  : 0;
}
.background-hack02 {
	display: block;
    z-index                 : -1;
    background-size         : 100% auto;
    position                : fixed;
    bottom                  : 0;
	left: 0;
	width: 100%;
}

#spmenubtn{
	display: block;
}
.w100{
	width: 100%;
}
a.hover:hover img {
	opacity: 1.0;
	filter: alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;
}
.show_pc{
	display: none;
}
.show_sp{
	display: block;
}
.show_sp02{
	display: inline;
}
.mainvisual_sp{
	margin: 0 0 25px 0;
	padding: 0;
}
.mainvisual_sp img{
	width: 100%;
}
.topbox01 {
    margin: 0;
    padding: 0 25px;
    width: 100%;
}
.topbox01 ul li{
	margin: 0 0 25px 0;
	padding: 0;
	float: none;
}
.topbox01 ul li img{
	width: 100%;
}
.topbox01 ul li:nth-child(3n) {
	margin: 0 0 25px 0;
}
.topbox01_btn {
    margin: 0;
    padding: 0 25px;
    text-align: center;
}
.topbox01_btn a {
    background-color: #007ac8;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
#footerbox {
    font-size: 11px;
    margin: 0 auto;
    padding: 50px 0 5px;
    text-align: center;
    width: 100%;
}
#footerbox02{
	margin: 0 auto;
	padding: 10px 0 10px 0;
	width: 100%;
	font-size: 11px;
	text-align: center;
}
#headerbox {
    background-color: #fff;
    height: 50px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
#headerbox_in {
    height:  inherit;
    margin: 0;
    padding: 18px 12px 0 12px;
    position: relative;
    text-align: left;
    width: 100%;
}
#headerbox_in h1 img{
    width: 150px;
}
#headerbox_in .logo02 {
    right: inherit;
	left: 170px;
    top: 18px;
	width: 80px;
}
#gnav {
	display: none;
}
#wrapper {
    margin: 0;
    padding: 0 0 0;
}
#headerbox_in_sp{
    margin: 0;
    padding: 18px 12px;
    position: relative;
    text-align: left;
    width: 100%;
	background-color: #FFF;
}
#headerbox_in_sp h1 img{
    width: 150px;
}
#headerbox_in_sp .logo02 {
    right: inherit;
	left: 170px;
    top: 18px;
	width: 80px;
	position: absolute;
}

.missionbox {
    color: #007ac8;
    margin: 0;
    padding: 50px 15px 0;
    width: 100%;
}
.missionbox01 {
    margin: 0;
    padding: 0 0 40px;
}
.missionbox01 img{
	width: 100%;
}
.missionbox02 {
    font-size: 18px;
    margin: 0 0 25px;
    padding: 0;
	font-weight: 500;
}

.aboutbox01 {
    margin: 0;
    padding: 0 15px;
}
.aboutbox01_in01 {
    margin: 0;
    padding: 50px 0 40px;
    text-align: center;
}
.aboutbox01_in01 img{
	width: 100%;
}
.aboutbox01_in02 {
    color: #fff;
    margin: 0;
    padding: 0 0 40px;
    width: 100%;
}

.entrybox01 {
    margin: 0;
    padding: 60px 15px 0;
    width: 100%;
}
.entrybox01_in {
    font-size: 14px;
    margin: 0 0 40px;
    padding: 0;
}

.memberbox01 {
    margin: 0;
    padding: 10px 0 0;
    width: 100%;
}


.memberbox01_01 {
    background: #c4dbc6 url(../img/member01_01.png) no-repeat scroll center top;
    height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
}
.memberbox01_01_02{
	margin: 0;
	padding: 0;
	text-align: center;
	background: URL(../img/member02_01.png) center top no-repeat #E4DEB9;
	height: inherit;
}
.memberbox01_01_03{
	margin: 0;
	padding: 0;
	text-align: center;
	background: URL(../img/member03_01.png) center top no-repeat #E9DFE8;
	height: inherit;
}

.memberbox01_02 {
    margin: 0 auto;
    padding: 40px 15px 0;
    width: 100%;
}

.memberbox01_03 {
    margin: 0;
    padding: 40px 0 0;
    width: 100%;
}

.memberbox01_03_in01 {
    float: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
	text-align: center;
}
.memberbox01_03 img {
    display: inline-block;
    margin: 0 0 15px;
    padding: 0;
}

.memberbox01_03_in02 {
    float: none;
    margin: 0 auto;
    padding: 0;
	text-align: center;
    width: 100%;
}
.aboutbox02{
	margin: 0 0 0 0;
	padding: 3px 0 0 0;
	background-color: #FFF;
}

.memberbox01_03_in01 a div{
	display: block;
}

.memberbox01_03_in02 a div{
	display: block;
}
.aboutbox01_in02 p {
    font-weight: 300;
    letter-spacing: 0.15em;
    line-height: 220%;
    margin: 0 0 30px;
}
#footerbox03_top {
    margin: 0;
    padding: 50px 0 0;
}
#footerbox03 {
    bottom: 0;
    font-size: 11px;
    left: 0;
    margin: 0 auto;
    padding: 10px 0;
    position: inherit;
    right: 0;
    text-align: center;
    width: 100%;
}

.memberbox01_03 .midashi01 {
	font-weight: 600;
}

.entrybox01 h2 {
    border-bottom: 2px solid #027cc5;
    color: #027cc5;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 25px;
    padding: 0 0 5px;
}

.resbox01 {
    background-color: #007ac8;
    margin: 0 0 50px;
    padding: 30px 30px;
    text-align: center;
}
.resbox02 {
    margin: 0 0 30px;
    padding: 0 15px;
    width: 100%;
}
.resbox02 .midashi01 {
    letter-spacing: 0.2em;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.resbox02 .midashi01 .midashi01_01 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.resbox02 .midashi01 .midashi01_02 {
    color: #027cc5;
    font-size: 30px;
    margin: 0 0 10px 0;
    padding: 0;
}
.resbox02 .midashi01 .midashi01_03 {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.resbox02 .midashi02 {
    color: #027cc5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.14em;
    line-height: 180%;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.resbox03 {
    margin: 0 0 60px;
    padding: 0;
}
.resbox03_in,.resbox03_in.resb03_02 {
    margin: 0;
    padding: 40px 15px;
    width: 100%;
}
.resbox03_in ul li.list01 {
    float: none;
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
	font-size: 12px;
	line-height: 1.75;
}
.resbox03_in ul li.list02 {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
	font-size: 12px;
	line-height: 1.75;
}
.resbox03_in ul li.list03 {
    float: none;
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
	font-size: 12px;
}
.resbox03_in ul li.list04 {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
	font-size: 12px;
}
.resbox03_in.resb03_02 ul li {
	float: none;
    margin: 0;
    padding: 0;
    width: 100%;
	font-size: 12px;
	line-height: 1.75;
}
.resbox03_in ul li img {
    margin: 0 0 10px;
    padding: 0;
	width: 100%;
}
.resbox04 ul li:first-child {
    float: none;
    margin: 0 0 40px 0;
    padding: 0;
    width: 100%;
}
.resbox04 ul li:last-child {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
	line-height: 1.75;
}
.resbox04 ul li:last-child span {
	margin: 0 0 10px 0;
	display: inline-block;
}
.resbox04_in {
    margin: 0;
    padding: 0 15px;
    width: 100%;
}
.resbox05 {
    background-color: #007ac8;
    height: 4px;
    margin: 60px 0;
    padding: 0;
}

}
