@charset "UTF-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

/*************   共通設定   *************/
img{
	border: none;
	vertical-align: bottom;
}
.clear{
	clear: both;
	display: block;
}
.right{
	float: right;
}
.right_img{
	float: right;
	margin: 0 0 0 15px;
}
.right_sp{
	float: right;
}
.right_img_sp{
	float: right;
	margin: 0 0 0 15px;
}
.left{
	float: left;
}
.left_img{
	float: left;
	margin: 0 15px 0 0;
}
.left_sp{
	float: left;
}
.left_img_sp{
	float: left;
	margin: 0 15px 0 0;
}
.center{
	text-align: center;
}
.normal{
	font-weight: normal;
}
.bold{
	font-weight: bold;
}
.mb5{
	margin-bottom: 5px;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb25{
	margin-bottom: 25px;
}
.mb30{
	margin-bottom: 30px;
}
.mb35{
	margin-bottom: 35px;
}
.mb40{
	margin-bottom: 40px;
}
.mb45{
	margin-bottom: 45px;
}
.mb50{
	margin-bottom: 50px;
}
.mt5{
	margin-top: 5px;
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top: 15px;
}
.mt20{
	margin-top: 20px;
}
.mt25{
	margin-top: 25px;
}
.mt30{
	margin-top: 30px;
}
.mt35{
	margin-top: 35px;
}
.mt40{
	margin-top: 40px;
}
.mt45{
	margin-top: 45px;
}
.mt50{
	margin-top: 50px;
}
.ml5{
	margin-left: 5px;
}
.ml10{
	margin-left: 10px;
}
.ml15{
	margin-left: 15px;
}
.ml20{
	margin-left: 20px;
}
.ml25{
	margin-left: 25px;
}
.ml30{
	margin-left: 30px;
}
.ml35{
	margin-left: 35px;
}
.ml40{
	margin-left: 40px;
}
.ml45{
	margin-left: 45px;
}
.ml50{
	margin-left: 50px;
}
.mr5{
	margin-right: 5px;
}
.mr10{
	margin-right: 10px;
}
.mr15{
	margin-right: 15px;
}
.mr20{
	margin-right: 20px;
}
.mr25{
	margin-right: 25px;
}
.mr30{
	margin-right: 30px;
}
.mr35{
	margin-right: 35px;
}
.mr40{
	margin-right: 40px;
}
.mr45{
	margin-right: 45px;
}
.mr50{
	margin-right: 50px;
}
.font8{
	font-size: 8px;
}
.font10{
	font-size: 10px;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}
.font16{
	font-size: 16px;
}
.font18{
	font-size: 18px;
}
.font20{
	font-size: 20px;
}
.font22{
	font-size: 22px;
}
.font24{
	font-size: 24px;
}
.font26{
	font-size: 26px;
}
.font28{
	font-size: 28px;
}
.font30{
	font-size: 30px;
}
.font40{
	font-size: 40px;
}
.font50{
	font-size: 50px;
}
.caution{
	color: #F00;
}
.black01{
	color: #000;
}
.orange01{
	color: #F90;
}
.orange02{
	color: #F60;
}
.gray01{
	color: #CCC;
}
.gray02{
	color: #999;
}
.gray03{
	color: #666;
}
.gray04{
	color: #333;
}
.red01{
	color: #FF0004;
}

.show_sp{
	display: none;
}
.show_sp02{
	display: none;
}

/****************************ボタン設定****************************/
.btn01 {
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.btn01:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.btn01:active {
	top: 3px;
	box-shadow: none;
}

/*************   リンク設定   *************/
a:link,a:visited{
	color: #000;
	text-decoration:underline;
}
a:hover,a:active{
	color: #000;
	text-decoration:none;
}
a.style01:link,a.style01:visited{
	color: #027cc5;
	text-decoration:underline;
}
a.style01:hover,a.style01:active{
	color: #027cc5;
	text-decoration:none;
}

a.hover:hover img {
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity:0.50;
        opacity:0.50;
    }



/****************************段落設定****************************/
h1{
	margin: 0;
	padding: 0;
}

h2{
	margin: 0;
	padding: 0;
}

h3{
	margin: 0;
	padding: 0;
}

/**************************** body ****************************/
body{
	font-size: 1.0em;
	line-height: 1.5;
	color: #000000;
	font-family: 'Noto Sans Japanese', sans-serif, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	min-width:1000px;
}

body#mission{
	background: URL(../img/bg_mission.png) center 0 no-repeat;
	background-attachment:fixed;
	background-size: cover;
}



/**************************** container ****************************/
#wrapper{
	margin: 0;
	padding: 110px 0 0 0;
}
#container{
	margin: 0;
	padding: 0;
}
#container02{
	margin: 0;
	padding: 0;
	border-top: 1px solid #007AC8;
}

.mainvisual{
	margin: 0;
	padding: 0;
	height: 482px;
	background: URL(../img/mainvisual.png) center top no-repeat #027CC5;
}

.topbox01{
	margin: 0 auto;
	padding: 40px 0 0 0;
	width: 1000px;
}
.topbox01 ul{
	margin: 0 0;
	padding: 0;
	list-style: none;
}
.topbox01 ul li{
	margin: 0 23px 25px 0;
	padding: 0;
	float: left;
}
.topbox01 ul li img{
	width: 318px;
}
.topbox01 ul li:nth-child(3n) {
	margin: 0 0 25px 0;
}
.topbox01_btn{
	margin: 0 0 0 0;
	padding: 20px 0 0 0;
	text-align: center;
}
.topbox01_btn a{
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	display: block;
	width: 618px;
	font-size: 30px;
	text-decoration: none;
	color: #FFF;
	background-color: #007AC8;
}
.topbox01_btn a:hover{
	opacity: 0.5;
}

.missionbox{
	margin: 0 auto;
	padding: 80px 0 0 450px;
	width: 1000px;
	color: #007AC8;
	letter-spacing: 0.117em;
}
.missionbox01{
	margin: 0 0;
	padding: 0 0 70px 0;
}
.missionbox02{
	margin: 0 0 40px 0;
	padding: 0 0 0 0;
	font-size: 22px;
	letter-spacing: 0.2em;
}
.missionbox03{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 14px;
}
.missionbox03 p{
	margin: 0 0 30px 0;
	padding: 0 0 0 0;
	line-height: 250%;
}

.aboutbox01{
	margin: 0;
	padding: 0;
	background-color: #007AC8;
}
.aboutbox01_in01{
	margin: 0;
	padding: 110px 0 90px 0;
	text-align: center;
}
.aboutbox01_in02{
	margin: 0 auto;
	padding: 0 0 95px 0;
	width: 550px;
	color: #FFF;
	text-align:justify;
}
.aboutbox01_in02 p{
	margin: 0 0 30px 0;
	line-height: 250%;
	letter-spacing: 0.11em;
	font-weight: 300;
}
.aboutbox02{
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	background-color: #FFF;
}
.aboutbox02 img{
	margin: 0;
	padding: 0;
	width: 100%;
}

.memberbox01{
	margin: 0 auto;
	padding: 25px 0 0 0;
	width: 840px;
}
.memberbox01 img{
	margin: 0 0 10px 0;
	padding: 0;
	width: 100%;
}
.memberbox01_01{
	margin: 0;
	padding: 0;
	text-align: center;
	background: URL(../img/member01_01.png) center top no-repeat #C4DBC6;
	height: 345px;
}
.memberbox01_01_02{
	margin: 0;
	padding: 0;
	text-align: center;
	background: URL(../img/member02_01.png) center top no-repeat #E9DFE8;
	height: 345px;
}
.memberbox01_01_03{
	margin: 0;
	padding: 0;
	text-align: center;
	background: URL(../img/member03_01.png) center top no-repeat #E4DEB9;
	height: 345px;
}
.memberbox01_02{
	margin: 0 auto;
	padding: 70px 0 0 0;
	width: 500px;
	font-size: 14px;
}
.memberbox01_02 p{
	margin: 0 0 40px 0;
	line-height: 210%;
	letter-spacing: 0.08em;
	text-align:justify;
}
.memberbox01_02_in{
	margin: 0 0 40px 0;
	padding: 0;
}
.memberbox01_02_in img{
	display: block;
	width: 49.5%;
}
.memberbox01_02_in img:first-child{
	float: left;
}
.memberbox01_02_in img:last-child{
	float: right;
}

.memberbox01_03{
	margin: 0 auto;
	padding: 70px 0 0 0;
	width: 500px;
}
.memberbox01_03 .text01{
	margin: 0 0 15px 0;
	padding: 0;
	color: #cec185;
	font-size: 13px;
	letter-spacing: 0.1em;
}
.memberbox01_03 .text01_02{
	margin: 0 0 15px 0;
	padding: 0;
	color: #d4bac5;
	font-size: 13px;
	letter-spacing: 0.1em;
}
.memberbox01_03 .text01_03{
	margin: 0 0 15px 0;
	padding: 0;
	color: #83bf8e;
	font-size: 13px;
	letter-spacing: 0.1em;
}
.memberbox01_03 img{
	margin: 0 auto 15px;
	padding: 0;
	display: block;
}
.memberbox01_03 .midashi01{
	margin: 0 0 20px 0;
	padding: 0;
	color: #027cc5;
	font-size: 20px;
	line-height: 160%;
	white-space: pre;
	letter-spacing: 0.1em;
}
.memberbox01_03 .text02{
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 14px;
	/*line-height: 90%;*/
	white-space: pre;
	line-height:1.75;
}
.memberbox01_03_in01{
	margin: 0 auto;
	padding: 0;
	/*max-width: 300px;*/
	float: none;
	text-align: center;
	display: inline-block;
	width:50%;
	vertical-align:top;
}
.memberbox01_03_in01 a{
	text-decoration: none;
	display: inline-block;
}
.memberbox01_03_in01 a:hover{
	opacity: 0.5;
}
.memberbox01_03_in01 a div{
	display: inline-block;
}
.memberbox01_03_in02{
	margin: 0 auto;
	padding: 0 0 0 0;
	/*max-width: 300px;*/
	float: none;
	text-align: center;
	display: inline-block;
	width:50%;
	vertical-align:top;
}
.memberbox01_03_in02 a{
	text-decoration: none;
	display: inline-block;
}
.memberbox01_03_in02 a:hover{
	opacity: 0.5;
}
.memberbox01_03_in02 a div{
	display: inline-block;
}

.entrybox01{
	margin: 0 auto;
	padding: 125px 0 0 0;
	width: 590px;
	letter-spacing: 0.117em;
}
.entrybox01 p{
	line-height: 180%;
}
.entrybox01 h2{
	margin: 0 0 25px 0;
	padding: 0 0 5px 0;
	font-size: 26px;
	color: #027cc5;
	border-bottom: 2px solid #027cc5;
	font-weight: 500;
}
.entrybox01_in{
	margin: 0 0 75px 0;
	padding: 0;
	font-size: 14px;
}
.entrybox01_in02{
	margin: 0;
	padding: 0 0 0 10px;
}
.entrybox02{
	margin: 0;
	padding: 30px 0 0 0;
}
.entrybox02 img{
	width: 49%;
}
.entrybox02 img.pic01{
	float: left;
}
.entrybox02 img.pic02{
	float: right;
}
/**************************** header ****************************/
header{
	margin: 0;
	padding: 0;
}

#headerbox{
	margin: 0;
	padding: 0;
	height: 110px;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #FFF;
	z-index: 99999;
}
#headerbox_in{
	margin: 0 auto;
	padding: 12px;
	width: 1000px;
	height: 83px;
	text-align: center;
	position: relative;
}
#headerbox_in .logo02{
	position: absolute;
	right: 10px;
	top: 13px;
}

/**************************** footer ****************************/
footer{
	margin: 0;
	padding: 0;	
}

#footerbox{
	margin: 0 auto;
	padding: 85px 0 10px 0;
	width: 1000px;
	font-size: 11px;
	text-align: right;
}
#footerbox02{
	margin: 0 auto;
	padding: 10px 0 10px 0;
	width: 1000px;
	font-size: 11px;
	text-align: right;
}

#footerbox03_top{
	margin: 0;
	padding: 120px 0 0 0;
}
#footerbox03{
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 10px 0 10px 0;
	width: 1000px;
	font-size: 11px;
	text-align: right;
	position: fixed;
	bottom: 0;
}

#pagetop{
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 50px;
	right: 20px;
	display: none;
}

/**************************** section ****************************/
section{
	margin: 0;
	padding: 0;
}

article{
	margin: 0;
	padding: 0;
}

/**************************** nav ****************************/
nav{
	margin: 0;
	padding: 0;
}

#gnav{
	margin: 0 auto;
	padding: 0 0;
	width: 840px;
	height: 20px;
	/*background: url(../img/bg_gnav.png) 0 0 repeat-x;*/
}

#gnav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#gnav ul li{
	margin: 0;
	padding: 0 0;
	float: left;
	height: 27px;
	width: 20%;
	display: block;
	
}
#gnav ul li:hover{
	border-bottom: 3px solid  #027cc5;
	
}
#gnav ul li.active{
	border-bottom: 3px solid  #027cc5;
	
}
#gnav ul li span{
	height: 20px;
	padding: 0 2px;
	display: block;
	width: 100%;
	border-right: 1px solid #027cc5;
}
#gnav ul li:first-child span{
	border-left: 1px solid #027cc5;
}
#gnav ul a{
	margin: 0;
	padding: 1px 0 0 0;
	height: 20px;
	color: #027cc5;
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 0.2em;
}
#gnav ul li.entry a{
	background-color: #027cc5;
	color: #FFF;
}



/****************************ul li設定****************************/
	
ul.list_style01{
	margin: 0 0 0 20px;
	padding: 0;
	list-style: decimal;
}
ul.list_style01 li{
	margin: 0 0 5px 0;
	padding: 0;
}

/****************************table設定****************************/
table.table_style01{
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}
table.table_style01 th{
	margin: 0;
	padding: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px dotted #CCCCCC;
}
table.table_style01 td{
	margin: 0;
	padding: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px dotted #CCCCCC;
}

table.table_inquiry{
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}
table.table_inquiry th{
	margin: 0;
	padding: 20px;
	text-align: left;
	vertical-align: top;
	border: 1px dotted #CCCCCC;
}
table.table_inquiry td{
	margin: 0;
	padding: 20px;
	text-align: left;
	vertical-align: top;
	border: 1px dotted #CCCCCC;
}
table.table_inquiry td.btn{
	margin: 0;
	padding: 20px;
	text-align: center;
	vertical-align: top;
	border: none;
}

/**************************** sp header ****************************/
#spmenubtn{
	margin: 0;
	padding:0;
	cursor: pointer;
	top: 10px;
	right: 10px;
	position: absolute;
	display: none;
}
#spmenubtn img{
	width: 25px;
}
 
#overlay{
	display: none;
	width: 100%;
	height:100%;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 100;
	background: rgba(0,122,200,1.0);
}
 
#spmenubtnclose{
	margin: 0;
	padding: 0;
	cursor: pointer;
	top: 10px;
	right: 10px;
	position: absolute;
	color: #FFF;
}
#spmenubtnclose img{
	width: 25px;
}

ul.spmenu{
	margin: 0;
	padding: 30px 0 0 0;
	list-style: none;	
}
ul.spmenu li{
	margin: 0;
	padding: 0;
}
ul.spmenu li a{
	margin: 0 0 30px 0;
	padding: 0;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	line-height: 120%;
	letter-spacing: 0.10em;
	font-weight: 500;
}
ul.spmenu li a.entry{
	margin: 0 auto;
	padding: 10px 0;
	display: block;
	width: 70%;
	text-align: center;
	font-size: 16px;
	border: 2px solid #FFF;
	color: #FFF;
	text-decoration: none;
}
ul.spmenu li a span{
	display: block;
	font-size: 12px;
	letter-spacing: 0.1em;
}
.background-hack02 {
	display: none;
}

.resbox01{
	margin: 0 0 50px 0;
	padding: 70px 10px;
	background-color: #007AC8;
	text-align: center;
}
.resbox01 img{
	max-width: 100%;
}

.resbox02{
	margin: 0 auto 50px auto;
	padding: 0;
	width: 520px;
}
.resbox02 .midashi01{
	margin: 0 0 40px 0;
	padding: 0;
	text-align: center;
	letter-spacing: 0.2em;
}
.resbox02 .midashi01 .midashi01_01{
	margin: 0 0 0 0;
	padding: 0;
	font-size: 18px;
}
.resbox02 .midashi01 .midashi01_02{
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 40px;
	color: #027cc5;
	line-height: 1;
}
.resbox02 .midashi01 .midashi01_03{
	margin: 0 0 0 0;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
}
.resbox02 .midashi02{
	margin: 0 0 40px 0;
	padding: 0;
	text-align: center;
	font-size: 27.5px;
	color: #027cc5;
	letter-spacing: 0.12em;
	line-height: 180%;
	font-weight: 700;
}
.resbox02 .text01{
	margin: 0 0 0 0;
	padding: 0;
	font-size: 14px;
	letter-spacing: 0.14em;
	line-height: 220%;
	text-align: justify;
}

.resbox03{
	margin: 0 0 60px 0;
	padding: 0;
	background: url(../img/res09.png) 0 0 repeat;
}
.resbox03_in{
	margin: 0 auto;
	padding: 50px 0;	
	width: 1000px;
}
.resbox03_in.resb03_02{
	width: 580px;
}
.resbox03_in ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	letter-spacing: 0.14em;
	line-height: 180%;
}
.resbox03_in.resb03_02{
	font-size: 13px;
}
.resbox03_in ul li.list01{
	margin: 0;
	padding: 0;
	width: 607px;
	float: left;
}
.resbox03_in ul li.list02{
	margin: 0;
	padding: 0;
	width: 350px;
	float: right;
}
.resbox03_in ul li.list03{
	margin: 0;
	padding: 0;
	width: 472px;
	float: left;
}
.resbox03_in ul li.list04{
	margin: 0;
	padding: 0;
	width: 442px;
	float: right;
}
.resbox03_in ul li img{
	margin: 0 0 10px 0;
	padding: 0;
	width: 100%;
}

.resbox04{
	margin: 0;
	padding: 0;
}
.resbox04_in{
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 960px;
}
.resbox04 ul{
	margin: 0;
	padding: 0;
	list-style: none;
	letter-spacing: 0.14em;
	line-height: 220%;
	text-align: justify;
	font-size: 14px;
}
.resbox04 ul li .imgbox{
	margin: 0 0 15px 0;
	padding: 0;
	text-align: center;
}
.resbox04 ul li:first-child{
	margin: 0;
	padding: 0;
	width: 505px;
	float: left;
}
.resbox04 ul li:last-child{
	margin: 0;
	padding: 0;
	width: 410px;
	float: right;
	text-align: center;
}
.resbox04 ul li img{
	margin: 0 0 10px 0;
	padding: 0;
}

.resbox05{
	margin: 110px 0;
	padding: 0;
	height: 6px;
	background-color: #007AC8;
}
